.wrapper {
    display: flex;
    flex: 1;

    padding: 0;
    font-family: "Helvetica Neue";
    justify-content: center;
    align-items: center;
}

.wrapper button {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 3px 5px;

    cursor: crosshair;
    transition-duration: 0.2s;
    border: none;
    outline: none;
}

.wrapper button:hover {
    background-color: orange;
}
